<div class="dash-welcome">
  <p class="dash-welcome-eyebrow"><%= link_to "Minhas Quadras", dashboard_courts_path, class: "back-link" %> / Editar</p>
  <h1 class="dash-welcome-title"><%= @court.name %></h1>
</div>

<div class="analytics-card">
  <%= render "form", court: @court %>
</div>
